{% extends "base.html" %}

{% load wagtailimages_tags wagtailcore_tags cache %}

{% block banner %}

    {% image page.banner_background_image fill-1600x800  as bg_img %}
    <div class="jumbotron jumbotron-fluid text-light py-5 d-flex align-items-center cc-home-banner" style='background: url({{ bg_img.url }}); background-size: cover; background-repeat: no-repeat;'>
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-9">
                    <h1 class="display-3 cc-home-banner-title">{{ page.title }}</h1>
                     
                    {% if page.lead_text %}
                        <p class="lead">{{ page.lead_text }}</p>
                    {% endif %}

                    {% if page.button %}
                        <p class="mt-3">
                            <a href="{{ page.button.url }}" class="btn btn-light btn-lg">{{ page.button_text }}</a>
                        </p>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>

{% endblock banner %}

{% block content %}
    <!--
    <div class="intro">{{ page.intro|richtext }}</div>
    -->
    {% for post in blogpages %}
        {% with post=post.specific %}
            <h2><a href="{% pageurl post %}">{{post.title}}</a></h2>
            <p>{{ post.intro }}</p>
        {% endwith %}
    {% endfor %}

    {% for block in page.body %}
        <div class="row cc-margins-blocks">
            <div class="col">
                {% include_block block %}
            </div>
        </div>
    {% endfor %}
{% endblock %}